<% unless websites.last_page? %>
  <button class="btn btn-primary btn-block mb-4"
    data-url="<%= websites_url(page: websites.next_page) %>"
    data-behavior="load-more">
    <%= t('.load_more') %>
  </button>
<% end %>
