<div class="col-lg-4 col-md-12">
  <%= link_to(website_path(website), class: "card card-link mb-3") do %>
    <div class="card-body">
      <h5 class="card-title mb-0">
        <% unless website.active? %>
          <small class="badge badge-secondary badge-pill lh-1 float-right">Inactive</small>
        <% end %>

        <%= website.name %>
      </h5>

      <div class="hr-sect">Recent Pings</div>

      <%= render(website.recent_pings) %>
    </div>
  <% end %>
</div>
