<% unless User.any? %>
  <div class="card card-block">
    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <p class="mb-0">
        <%= t('.new_user') %>
      </p>

      <%= link_to t('.sign_up'), new_registration_path(resource_name, organization_id: params[:organization_id]) %>
    <% end -%>
  </div>
<% end %>
