@import "base/base";

.welcome {
  padding-top: 70px;

  .welcome-logo {
    width: 80px;
  }

  .welcome-title {
    color: $white;
    font-family: "PT Serif", serif;
    font-size: 2.5rem;
    font-weight: 300;
  }

  .welcome-subtitle {
    color: rgba($white, 0.5);
    font-family: "PT Serif", serif;
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .welcome-mockup {
    width: 100%;
    max-width: 800px;
  }
}
