<div class="card">
  <div class="card-block">
    <h4 class="card-title"><%= user.email %></h4>

    <p class="card-text"><%= user.email %></p>
    <p class="card-text">
      <small class="text-muted">Joined On: <%= user.created_at %></small>
    </p>
  </div>
</div>
