<div class="blankslate">
  <h4 class="blankslate-title">
    <%= t('.title', resource: resource.pluralize) %>
  </h4>

  <% if yield.present? %>
    <div class="mt-4">
      <%= yield %>
    </div>
  <% end %>
</div>
