<nav class="navbar navbar-inverse bg-primary">
  <ul class="navbar-nav">
    <%= nav_link("Websites", root_path) %>
    <%= nav_link("Stats", "#") %>
    <%= nav_link("Accounts", "#") %>
  </ul>
</nav>
