<div class="page-heading">
  <h4 class="page-title"><%= t(".title") %></h4>
</div>

<div class="row">
  <div class="col-sm-4 offset-sm-4">
    <%= link_to(tokens_path,
      class: "card card-link") do %>
      <div class="card-block text-muted text-center d-flex align-items-center justify-content-center">
        <i class="mr-3" data-feather="arrow-left"></i>
        <h6 class="mb-0"><%= t('.back') %></h6>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-block">
        <%= render("form", token: @token) %>
      </div>
    </div>
  </div>
</div>
