<div class="page-heading">
  <h4 class="page-title"><%= t('.title') %></h4>
</div>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-block">
        <%= render("form", setting: @setting) %>
      </div>
    </div>
  </div>
</div>
