<div class="d-flex justify-content-between mb-2 mb-last">
  <p class="mb-0 h6 lh-normal">
    <%= local_time(ping.created_at, '%B %e at %l:%M%P') %>
  </p>

  <div class="flex-1 hr-dots"></div>

  <p class="mb-0">
    <span class="badge <%= ping.status_badge %>">
      <%= ping.status_text %>
    </span>
  </p>
</div>
