@import "base/base";

body {
  background-color: $gray-lightest;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 500;
}

.lh-normal {
  line-height: normal;
}

.text-horizontal {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.badge {
  line-height: 1.25;
}
