@import "base/base";

a.card {
  color: inherit;
  position: relative;
  text-decoration: none;
}

.card-link {
  transition: all $base-duration $base-timing;

  &:hover {
    transform: translateY(-2px);
  }
}
