.chart-bar {
  fill: theme-color("primary");
}

.chart-column {
  fill: $gray-200;
}

.chart-axis {
  font-size: 0.75rem;
  font-weight: 600;

  text {
    fill: $gray-500;
  }

  path {
    display: none;
  }
}

.chart-axis path,
.chart-axis line {
  fill: none;
  stroke: $gray-200;
  stroke-width: 0.125rem;
}
