@import "base/base";

.navbar {
  align-items: center;

  .navbar-nav {
    flex-direction: row;

    .nav-link {
      font-weight: 600;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
      padding: 0.5rem 1.5rem;
    }

    @include media-breakpoint-down(sm) {
      .nav-link {
        font-size: 0.9rem;
      }
    }

    .active > .nav-link {
      background-color: #fff;
      color: $brand-primary;
      border-radius: $border-radius;
    }
  }
}
